snippet #! "python env" bA
# !/usr/bin/env python3

$0
endsnippet

snippet ret "return" b
return $0
endsnippet

snippet cont "continue" b
continue;
endsnippet

snippet alp
'abcdefghijklmnopqrstuvwxyz'
endsnippet
